.prayerCardContainer.prayerCardContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;
	margin-bottom: 0.75rem;
	border-radius: 0.75rem;
	border: 1px solid var(--sys-light-outline-variant);
	padding: 1rem;
}
.prayerCardClickContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.cardName.cardName {
	font-size: 0.75rem;
	font-weight: 400;
	color: var(--sys-light-on-surface-variant);
}
.cardNameContainer {
	display: flex;
	justify-content: space-between;
}
.cardTextContainer h2 {
	font-family: "Lora", serif;
	font-size: 1rem;
	font-weight: 600;
	color: var(--sys-light-on-surface);
}
.cardTextContainer.cardTextContainer p {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--sys-light-on-surface-variant);
	/* Truncation logic */
	display: block;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
}
.cardPrayContainer.cardPrayContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--sys-light-on-surface-variant);
}
.cardPrayedForContainer.cardPrayedForContainer {
	display: flex;
	gap: 0.25rem;
}
.prayCountIcon.prayCountIcon {
	font-size: 1rem;
}
.prayCountNumber.prayCountNumber {
	font-size: 0.75rem;
}
.prayBtn.prayBtn {
	min-width: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	border-radius: 9999px;
	background-color: var(--sys-light-primary);
}
.prayBtnIcon.prayBtnIcon {
	font-size: 1.5rem;
}
