.headerMasterContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0px;
	padding: 0 16px;
	border-bottom: 1px solid var(--text-color-black);
	height: 97px;
	width: 100%;
	max-width: 425px;
	background-color: var(--nav-bg-color);
	color: var(--text-color-white);
}

.iconContainer {
	width: 42px;
	height: 42px;
}
