.headerMasterContainer.headerMasterContainer {
	display: grid;
	gap: 0.5rem;

	position: fixed;
	top: 0px;
	padding: 1.125rem 0 0.5rem 0;
	height: 6.5rem;
	width: 100%;
	max-width: 425px;
	background-color: var(--sys-light-surface);
	z-index: 10;
}
.headerSettingContainer {
	display: grid;
	gap: 0.5rem;

	position: fixed;
	top: 0px;
	padding: 1.125rem 0.75rem;
	height: 4rem;
	width: 100%;
	max-width: 425px;
	background-color: var(--sys-light-surface);
	z-index: 10;
}

/* Top header */
.headerTopContainer.headerTopContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem 0 0.75rem;
}
.headerTitle.headerTitle {
	color: var(--sys-light-on-surface);
	font-family: "Lora", serif;
	font-weight: 500;
	font-size: 1.375rem;
}
.headerSearchIcon.headerSearchIcon {
	color: var(--sys-light-on-surface-variant);
	font-size: 1.5rem;
}

/* Bottom header */
.headerBottomContainer::-webkit-scrollbar {
	display: none;
}
.headerBottomContainer {
	display: flex;
	gap: 0.5rem;

	width: 100%;
	max-width: 425px;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}
.btnContainer:first-child {
	margin-left: 0.75rem;
}
.btnContainer:last-child {
	margin-right: 0.75rem;
}
.btnContainer {
	width: min-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.headerFilterIconContainer.headerFilterIconContainer {
	min-width: 0;
	width: 2rem;
	height: 2rem;
	padding: 6px 8px;
	border-color: var(--sys-light-outline);
	border-radius: 0.5rem;
}
.headerFilterIconContainer.headerFilterIconContainer:hover {
	transition: all 0.25s;
	border: 1px solid var(--sl-light-on-surface);
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-surface);
}
.headerFilterIcon.headerFilterIcon {
	color: var(--sys-light-primary);
	font-size: 1.125rem;
}
.headerOptionIconContainer.headerOptionIconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: 2rem;
	width: max-content;

	padding: 6px 8px 6px 12px;
	border: 0;
	border-radius: 0.5rem;
	border: 1px solid var(--sys-light-outline);
	color: var(--sys-light-on-surface-variant);
	background-color: var(--sys-light-surface);
}
.headerOptionIconContainer.headerOptionIconContainer:hover {
	transition: all 0.25s;
	border: none;
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-surface);
	border: 1px solid var(--sl-light-on-surface);
}
.headerOptionSelected.headerOptionSelected {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: 2rem;
	width: max-content;

	padding: 6px 8px 6px 12px;
	border: 0;
	border-radius: 0.5rem;
	border: 1px solid var(--sys-light-secondary-container);
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sys-light-secondary-container);
}
.headerOptionSelected.headerOptionSelected:hover {
	transition: all 0.25s;
	border: none;
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-secondary);
	border: 1px solid var(--sl-light-on-surface);
}
.headerOptionText.headerOptionText {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	font-size: 0.875rem;

	text-transform: none;
}
.closeIcon.closeIcon {
	font-size: 1.125rem;
}
/* Filter/ sort drawer */
.swipeableDrawer.swipeableDrawer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 425px;
	width: 100%;
	border-radius: 1.75rem 1.75rem 0 0;
	background-color: var(--sys-light-surface-container);
}
.swipeableDrawer h3 {
	font-family: "Lora", serif;
	font-weight: 600;
	font-size: 1rem;
}
.drawerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.125rem 1rem;
	width: 100%;
	margin-bottom: 1rem;
}
.topBtn.topBtn {
	padding: 0.625rem 0.75rem;
	min-width: none;
	text-transform: none;
	color: var(--sys-light-primary);
}
.blob {
	width: 2rem;
	height: 0.25rem;
	background-color: var(--sys-light-outline);
}
.sortList {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 1.5rem;
	color: var(--sys-light-on-surface);
}
.formControl.formControl {
	padding-left: 0.875rem;
	/* color: var(--sys-light-primary); */
}
/* filter section */
.filterList {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
	padding: 0 1.5rem 2rem 1.5rem;
	color: var(--sys-light-on-surface);
}
.defaultTag {
	display: flex;
	align-items: center;
}
.defaultTag p {
	position: relative;
	left: -0.5rem;
	font-size: 0.875rem;
	color: var(--sys-light-on-surface-variant);
}
