/* NAVIGATION */
.navMasterContainer.navMasterContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 425px;
	color: var(--sys-light-on-surface);
	z-index: 10;
}
/* Add Button */
.addBtn.addBtn {
	position: absolute;
	top: -2.25rem;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 12px;
	padding: 0.5rem;
	min-width: 0;
	width: 2.5rem;
	height: 2.5rem;

	background-color: var(--sys-light-primary-container);
	color: var(--sys-light-on-surface);
	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
		0px 1px 3px rgba(0, 0, 0, 0.3);
}
.addBtn.addBtn:hover {
	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-secondary);
}
.navBtn.navBtn:hover {
	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sl-light-on-surface);
}
.addBtnIcon.addBtnIcon {
	font-size: 1.5rem;
}
.navMainMasterContainer.navMainMasterContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 0.5rem;
	height: 5rem;
	background-color: var(--sys-light-surface-container);
}
.navBtnContainer.navBtnContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	width: 4.375rem;
}
.navBtn.navBtn {
	min-width: 4rem;
	height: 2rem;
	padding: 0.25rem 1.25rem;
	border-radius: 1rem;

	color: var(--sys-light-on-surface-variant);
	background-color: var(--sys-light-surface-container);
}
.navBtnFocus.navBtnFocus {
	min-width: 4rem;
	height: 2rem;
	padding: 0.25rem 1.25rem;
	border-radius: 1rem;

	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sys-light-secondary-container);
}
.navBtnFocus.navBtnFocus:hover {
	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sl-light-on-surface);
}
.navBtnIcon.navBtnIcon {
	font-size: 1.5rem;
	transform: scaleX(-1);
}
.navBtnText.navBtnText {
	font-size: 0.75rem;
	font-weight: 600;
	text-align: center;
}
