.prayerMain {
	display: flex;

	min-height: 100vh;
	max-width: 425px;
	gap: 0.5rem;
	padding: 0.5rem 1rem 10rem 1rem;
	flex-direction: column;
	background-color: var(--sys-light-surface);
	color: var(--sys-light-on-surface);
}
.prayerMainForm {
	display: flex;

	min-height: 100vh;
	max-width: 425px;
	gap: 0.5rem;
	padding: 4.5rem 1rem 7.5rem 1rem;
	flex-direction: column;
	background-color: var(--sys-light-surface);
	color: var(--sys-light-on-surface);
}
.topBtnsMain {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	background-color: var(--sys-light-surface);
	max-width: 425px;
	width: 100%;
	padding: 0.5rem 1rem;
}
.topBtns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.backArrowBtn.backArrowBtn {
	padding: 0.5rem;
	min-width: 2.5rem;
	border-radius: 999px;
	color: var(--sys-light-on-surface-variant);
}
.backArrowBtn.backArrowBtn:hover {
	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-surface);
}
.backArrowIcon {
	font-size: 1.5rem;
}
.prayBtn.prayBtn {
	min-width: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	border-radius: 999px;
	background-color: var(--sys-light-primary);
}
.prayBtn.prayBtn:hover {
	transition: all 0.25s;
	box-shadow: var(--box-shadow-1);
	background-color: var(--sl-light-on-primary);
}
.prayBtnIcon.prayBtnIcon {
	font-size: 1.5rem;
}
.title {
	font-family: "Lora", serif;
	font-size: 1.375rem;
	font-weight: 500;
}
.viewSelectBtnContainer {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid var(--sys-light-outline-variant);
}
.leftTwoBtns {
	display: flex;
}
.selectBtn.selectBtn {
	height: 3rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	text-transform: none;
	color: var(--sys-light-on-surface-variant);
	border-radius: 0;
}
.block {
	width: 100%;
	height: 0.1875rem;
	border-radius: 100px 100px 0 0;
	background-color: var(--sys-light-primary);
}
.blockHover {
	width: 100%;
	height: 0.1875rem;
	border-radius: 100px 100px 0 0;
	background-color: var(--sys-light-surface);
}
.selectBtnContainer:hover .blockHover {
	background-color: var(--sys-light-on-surface-variant);
}
.selectBtnContainer:hover .block {
	background-color: var(--sys-light-on-surface-variant);
}
.selectBtnContainer:focus .block {
	background-color: var(--sys-light-primary);
}
.detailText {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25rem;
	overflow-wrap: break-word;

	margin-top: 0.75rem;
	color: var(--sys-light-on-surface-variant);
}
.statsContainer {
	flex-direction: column;
	display: flex;
	justify-content: center;

	gap: 0.75rem;
	margin-top: 1.375rem;
}
.blockFlex {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}
.statIcon.statIcon {
	font-size: 1rem;
}
.statText {
	font-size: 0.75rem;
	font-weight: 600;
}
.secondText {
	font-size: 0.75rem;
	font-weight: 400;
	color: var(--sys-light-on-surface-variant);
}
/* Edit page */
.optionBtn.optionBtn {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: none;
	height: 2.5rem;
	min-width: none;
	width: fit-content;
	padding: 0.625rem 1.5rem;
	border-radius: 999px;
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sys-light-secondary-container);
}
.optionBtn.optionBtn:hover {
	transition: all 0.25s;
	background-color: var(--sl-light-on-secondary);
}
.saveBtn.saveBtn {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: none;
	height: 2.5rem;
	min-width: none;
	width: fit-content;
	padding: 0.625rem 1.5rem;
	border-radius: 999px;
	color: var(--sys-light-on-primary);
	background-color: var(--sys-light-primary);
}
.saveBtn.saveBtn:hover {
	transition: all 0.25s;
	background-color: var(--sl-light-on-primary);
}
.optionBtnPublish.optionBtnPublish {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: none;
	height: 2.5rem;
	min-width: none;
	width: fit-content;
	padding: 0.625rem 1.5rem;
	border-radius: 999px;
	color: var(--sys-light-on-primary);
	background-color: var(--sys-light-primary);
}
.optionBtnPublish.optionBtnPublish.disabled {
	color: var(--sys-light-primary);
	background-color: var(--sys-light-on-surface);
}
.optionBtnPublish.optionBtnPublish:hover {
	transition: all 0.25s;
	background-color: var(--sl-light-on-primary);
}

/* Form */
.editFormContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.optionToggleContainer p {
	font-size: 0.875rem;
	margin-bottom: 0.25rem;
	color: var(--sys-light-outline);
}
.optionToggleContainer Button {
	height: 2.5rem;
	width: 50%;
	border: 1px solid var(--sys-light-outline);
	line-height: normal;
	vertical-align: middle;
	text-transform: none;
}
.radio {
	display: inline-flex;
	overflow: hidden;
	border-radius: 999px;
	width: 100%;
	border: 1px solid var(--sys-light-outline);
}
.radioInput {
	display: none;
}
.radioLabel {
	display: flex;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 600;

	padding: 0.625rem;
	width: 50%;
	background-color: var(--sys-light-surface);
	cursor: pointer;
	transition: background 0.1s;
}
.radioLabel:not(:last-of-type) {
	border-right: 1px solid var(--sys-light-outline);
}
.radioInput:checked + .radioLabel {
	cursor: default;
	background-color: var(--sys-light-secondary-container);
}
.radioInput:not(:checked) + .radioLabel.radioLabel:hover {
	transition: all 0.25s;
	background-color: var(--sl-light-on-surface);
}
.optionToggleBtnLeft.optionToggleBtnLeft {
	border-radius: 100px 0 0 100px;
	color: var(--sys-light-on-secondary-container);
	background-color: var(--sys-light-secondary-container);
}
.optionToggleBtnRight.optionToggleBtnRight {
	border-radius: 0 100px 100px 0;
	color: var(--sys-light-on-surface);
	background-color: var(--sys-light-surface);
}
.toggleIcon.toggleIcon {
	font-size: 1.125rem;
	margin-right: 0.5rem;
}
.deleteBtn.deleteBtn {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: none;
	height: 2.5rem;
	min-width: none;
	width: fit-content;
	padding: 0.625rem 1.5rem;
	margin: 1.75rem 0 0 0;
	border-radius: 999px;
	color: var(--sys-light-primary);
}
.deleteBtn.deleteBtn:hover {
	transition: all 0.25s;
	background-color: var(--sys-light-secondary-container);
}
